<% include ./partials/header %>

        <form action='/movies' method="POST" class='jumbotron'>
        <div class='form-group'>
          <label for='title'>Movie Title</label>
          <input type="text" name='title' placeholder='e.g. Snakes on a Plane' class='form-control'>
      </div>
      <div class='form-group'>
          <label for='Genre'>Genre</label>
          <input type="text" name='genre' placeholder='e.g. Action' class='form-control'>
      </div>
      <div class='form-group'>
          <label for='year'>Year</label>
          <input type="text" name='year' placeholder='e.g. 2006' class='form-control'>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
        </form>

<% include ./partials/footer %>